<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum=1.0,maximum=1.0,user-scalable=no"/>
  <title>Special API</title>
  <style>
    .rotate {
      width: 8em;
      height: 2.75em;
      border-radius: .25em;
      background: #999;
      text-align: center;
      line-height: 2.75em;
      font-size: 16px;
      color: #fff;
      margin: 2em auto;
    }


  </style>
</head>
<body>
   <p class="rotate">旋转手机试试</p>

</body>
<script>
    window.addEventListener('load',function(){
        screenOrientation();   // 屏幕旋转的角度
    },false);

    function screenOrientation(){
        let orientation = screen.orientation || screen.mozOrientation || screen.msOrientation;
        window.addEventListener("onorientationchange", function() {
            alert("屏幕旋转的角度为：" + orientation.angle);
        });
    }



    $('.text').click(function(){
        window.screen.lockOrientation('landscape');
    })
</script>
</html>